.hover{
    color: white;
}

.active{
    color: white;
    border-bottom: 2px;
}

Social.hover{
    opacity: .75;
}

button.hover{
    box-shadow: 0 0 30px rgba(64, 61, 101, 0.75);
    color: #403D65;
}